accessible-pygments==0.0.5
alabaster==1.0.0
ansi2html==1.9.2
apparmor==4.1.2
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
azote==1.16.0
babel==2.17.0
backports.zstd==1.2.0
bauh==0.10.7
beautifulsoup4==4.14.3
black==25.12.0
Brlapi==0.8.7
Brotli==1.1.0
brotlicffi==1.2.0.0
bs4==0.0.2
btrfsutil==6.17.1
build==1.3.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
click-log==0.4.0
clint==0.5.1
cloudscraper==1.2.71
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.4
dacite==1.9.1
daemonize==2.5.0
dasbus==1.7
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
docopt==0.6.2
docutils==0.22.3
editables==0.5
entrypoints==0.4
fabric==0.0.2
fastjsonschema==2.21.2
filelock==3.20.0
flake8==7.3.0
fonttools==4.61.1
furo==2025.9.25
gamma-launcher==2.5
gbinder-python==1.3.0
geographiclib==2.1
geopy==2.4.1
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.46
gps==3.27.3
hatchling==1.28.0
html5lib==1.1
httplib2==0.31.0
humanize==4.15.0
hyperlink==21.0.0
i3ipc==2.2.1
icalendar==6.3.2
idna==3.11
ijson==3.4.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==1.4.1
incremental==24.7.2
inflate64==1.0.4
iniconfig==2.1.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
Js2Py==0.75
kiwisolver==1.4.7
lark==1.3.1
legacy-cgi==2.6.4
lensfun==0.3.4
LibAppArmor==4.1.2
libevdev==0.11
libmsym==0.2.4
lit==21.1.6.dev0
loguru==0.7.3
louis==3.36.0
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.10
markdown2==2.5.4
MarkupSafe==3.0.2
matplotlib==3.10.8
mccabe==0.7.0
mercurial==7.1.2
meson==1.10.0
mididings==20250818
mido==1.3.3
more-itertools==10.8.0
multivolumefile==0.2.3
mutagen==1.47.0
mypy_extensions==1.1.0
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.4.0
nwg-clipman==0.2.8
nwg-displays==0.3.26
nwg-hello==0.4.1
nwg-icon-picker==0.1.1
nwg-panel==0.10.13
nwg-readme-browser==0.1.7
nwg-shell==0.5.49
nwg-shell-config==0.5.62
openrazer_daemon==3.11.0
OpenTimelineIO==0.18.1
packaging==25.0
parsedatetime==2.6
pathspec==0.12.1
pathvalidate==3.3.1
pillow==12.1.0
pipx==1.8.0
platformdirs==4.5.1
pluggy==1.6.0
poetry-core==2.2.1
psutil==7.1.3
pwquality==1.4.5
py7zr==1.1.0
pyaaf2==1.7.1
pyaml==24.12.0
pybcj==1.0.7
pycairo==1.29.0
pycodestyle==2.14.0
pycparser==2.23
pycryptodomex==3.23.0
pyflakes==3.4.0
pygame==2.6.1
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.54.5
pyjsparser==2.7.1
pyparsing==3.3.1
pyppmd==1.2.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.2
PySide6==6.10.1
pyte==0.8.2
pytest==8.4.2
python-dateutil==2.9.0
python-dbusmock==0.37.2
python-distutils-extra==2.39
python-magic==0.4.27
python-rtmidi==1.5.8
python-tornet==2.2.0
python-xlib==0.33
pytokens==0.3.0
pytz==2025.2
pyudev==0.24.3
pywayland==0.4.18
pyxdg==0.28
PyYAML==6.0.3
pyzstd==0.19.1
QtPy==2.4.3
rarfile==4.2
Reflector==2023.6.28.0.36.1
requests==2.32.5
requests-toolbelt==1.0.0
responses==0.25.8
roman-numerals-py==3.1.0
scdl==2.12.4
screeninfo==0.8.1
Send2Trash==1.8.3
sentry-sdk==2.47.0
setproctitle==1.3.7
setuptools==80.9.0
setuptools-scm==9.2.2
shiboken6==6.10.1
shiboken6-generator==6.10.1
six==1.17.0
smbus==1.1
smmap==5.0.1
snowballstemmer==2.2.0
soundcloud-v2==1.6.0
soupsieve==2.8.1
spglib==2.7.1.dev0+g12355c77f.d20260104
Sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx_basic_ng==1.0.0b2
sphinx_rtd_theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxext-opengraph==0.9.1
systemd-python==235
TBB==0.2
tenacity==9.1.2
termcolor==3.2.0
texttable==1.7.0
thefuck==3.32
todoman==4.6.0
toml==0.10.2
tqdm==4.67.1
trove-classifiers==2025.12.1.14
Twisted==24.7.0
typing_extensions==4.15.0
tzlocal==5.3.1
unrar==0.4
unrardll==0.1.7
urllib3==2.6.2
urwid==3.0.4
userpath==1.9.2
virtualenv==20.35.4
watchdog==6.0.0
waypaper==2.7
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.45.1
yt-dlp==2025.12.8
ytmusicapi==1.11.4
zope.interface==8.1.1
